/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');


/* .color-Scheme{
    BG: #131313
    Text-main: #f0f0f1;
    Text-Secondary: rgb(171, 170, 170);
    Text-p: text-secondary;
    Text-heading: Text-info

    Skill-bg: #1e293b;

} */




*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}


/* ================ GLOBAL CLASSES ================ */
body{
    background-color:#131313 !important;
    color: #f0f0f1 !important;
    font-family: 'Source Code Pro', monospace !important;
    width: 100%;
    height: 100%;
}
li{
    list-style: none;
}
a, li a {
    text-decoration: none;
    color: #f0f0f1;
}
.bg-grey{
    background-color:#1d1d1d !important;
}


.icon-circle-small{
    border-radius: 100%;
    width: 25px;
    height: 25px;
}
.icon-circle-large{
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.icon-size-small{
    font-size: 19px;
}
.icon-size-large{
    font-size: 24px;
}.icon-size-extraLarge{
    font-size: 36px !important;
}.icon-setting{
    position: relative;
    top: 4px;
    margin-right: 2px;}

.text-grey{
    color: rgb(171, 170, 170);
}

.section-space-small{
    margin-top: 100px;
    margin-bottom: 100px;
}




/* ===== Local CLASSES ====== */


/* === NAVBAR === */
.Navbar {
    width: 100% !important; 
    background-color:  #1d1d1d;
    height: 65px !important;
    padding: 5px 20px !important;

    position: sticky;
    top: 0;
}

#dark-mode:hover{
    box-shadow: 1px 1px 2px 1px #012e87;
    width: 31px;
    height: 31px;
}
#Hamburger{
    display: none;
}

@media screen and (max-width:950px) {
    #Nav-list, #side-Buttons{
        display: none !important;
    }
    #Hamburger{
        display: block;
    }
}


/*  ========== HERO SECTION ============ */
@media screen and (max-width: 768px){
    #Hero-righthand{
        display: none !important;
    }
    #Hero-lefthand{
        width: 100% !important;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}


/* ================= SKILL SECTION ================ */
.skill{
    background-color: #1e293b;
    height: 530px;
    box-shadow: 0px 1px 3px 1px #1e293b;
}
.skill .left-skill,
.skill .right-skill{
    min-width: 50%;
    padding-left: 40px;
    padding-right: 120px;
}



/* ================= ABOUT ME SECTION ================ */
#about_me{
    height: 500px;
    margin-bottom: 80px;
}
#about-container{
    width:65%;
}
.image{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding: 15px;
}

#right-side_aboutme{
    width: 60%
}





/*  ========= EDUCATION SECTION ============ */

#Career{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}
#edu-list, #exp-list{
    width: 70%;
}
.hr-width{
    width: 18%;
    padding-top:0.7px;
}
.list-width-large{
    width:300px;
}
.list-width-small{
    width:200px;
}


/* ======== OFFERING SECTION ======== */
.border-style{
    border-radius: 10px 50px 10px 10px;
    position: relative;
}.border-style p{
    color: gray;
}

.border-style:hover{
    background-color: #0d6efd;
    color: #f0f0f1 !important;
    top: -3px;
    left: -3px;
    /* box-shadow: 1px 1px 3px 3px #2f2f2f; */

}
.border-style:hover p{
    color: #dbdbdb !important;
}

.card-icon{
    top: -18px;
    left: -32px;
    width: 30%;
    background-color: #0d6efd;
    color: #f0f0f1;



}.card-icon i{
    font-size: 34px;
}





.border-style:hover .card-icon{
    color: #0d6efd;
    background-color: #fff;
}

.service-card{
    background-color: #1d1d1d;
}.services-card-No{
    color: #434343;
    opacity: 35%;
}
.service-card:hover{
    background-color: #02b2a1;
    border: 1px solid #02b2a1 !important;
    color:#1e293b !important;
}
.service-card:hover .text-hover{
    color: #2e2e2e !important;
}

.offer-container-width{
    width: 285px;
}



/* ======== CONTACT US SECTION ======== */
.contact-us{
   background-color: #131313;
   height: 800px;
}
.contact-section{
    display: flex;
    justify-content: center;
    
    
}
.contact-section-inner{
    background-color: #1d1d1d;
    height: 460px;
    width: 65%;
    border-radius: 10px;
}


.custom-placeholder-color::placeholder {
    color: grey !important;
}



/* ======= FOOTER SECTION ========= */
#Footer{
    background-color: #1d1d1d;
    height: 310px;
    width: 100%;
}
.Footer-main{
    width: 80%;
}
/* ======= END FOOTER SECTION ========= */




