/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');




*{
    margin: 0;
    padding: 0;
}

/* ===== GLOBAL CLASSES ====== */
li{
    list-style: none;
}

body{
    background-color: #f0f0f1;
    color: #1e293b;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.active{
    font-weight: bold;
}





/* ===== Local CLASSES ====== */


/* === NAVBAR === */
.Navbar {
    background-color: #f0f0f1;
    color: #1e293b;
    height: 65px;
    padding: 5px 20px;

    position: sticky;
    top: 0;
    opacity: 80%;

    box-shadow: 1px 1px 10px 1px #d8d8d8;

}.Navbar:hover{
    opacity: 100%;
}

/* NAVBAR: == LOGO == */
.logo-container{
    width: 170px;
    height: 50px;
}
.logo-heading{
    padding-top: 3px;
    height: 40px;
}

/* NAVBAR: == LIST == */
.nav-list ul li{
    padding: 0 10px 0 10px;
}


/* NAVBAR: == Chat and Dark == */
.dark-mode{
    background-color: #3d70c1;
    opacity: 60%;
    border-radius: 100%;
    width: 30px;
    height: 30px;

}
.dark-mode:hover{
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
}
.dark-mode-icon{
    color: black;
    font-size: 18px;
}



/*  ========== HERO SECTION ============ */
.hero{
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero .left-part{
    margin-top: 50px;
    min-width: 50%;
}
.hero .left-part h3{
    color: #00c6ff;
}

.hero .right-part{
    min-width: 50%;
}
.bxs-down-arrow-circle{
    font-size: 20px;
}





/* ================= SKILL SECTION ================ */
.skill{
    background-color: #f2f4ff;
    height: 440px;
    box-shadow: 1px 1px 10px 1px #d8d8d8;

}
.skill div p{
    color: #00c6ff;
}
.skill .left-skill,
.skill .right-skill{
    min-width: 50%;
    padding-left: 40px;
    padding-right: 120px;
}



/* ================= ABOUT ME SECTION ================ */
#about_me{
    height: 500px;
    margin-bottom: 80px;
}
#about-container{
    width:65%;
}
#right-side_aboutme{
    width: 60%
}
#right-side_aboutme .intro-p{
    color: #00c6ff;
}
.image{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding: 15px;
    /* box-shadow: 1px 1px 10px 1px rgb(237, 249, 253) */
}
